*{
    font-family: 'Roboto', sans-serif;
}

.listarAcervo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#listar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    background-color: #f2f2f2;
}

.inform{
    word-wrap: break-word;
    width: 16%;
    text-align: center;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #c8c4c4;
    border:1px solid black;
    margin: 0.1vw;
    font-weight: bold;
}

tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    border:1px solid black;
    margin: 0.1vw;
}

#mensagem {
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 2vw;
    text-align: center;
}
body {
    background-image: url('image.png');
    background-size: cover; /* para cobrir toda a página */
    height: 100vh; /* altura igual à altura da janela de visualização (viewport height) */
    margin: 0;
    padding: 0;
}
